{% extends "template.html" %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/aboutus-style.css' %}">
{% endblock %}
{% block title %}
Vilabs - About Us
{% endblock title %}
{% block content %}

    <div class="aboutus-head">
        <h1>About Us</h1>
        <p>Learn more about our team, our values, and our vision.</p>
    </div>

    <section class="about-section">
        <!-- Icons in this section are obtained from Flaticon.com -->
        <div class="about-card">
            <img src="{% static 'img/target.webp' %}" alt="Mission photo" class="about-img">
            <h2>Our Mission</h2>
            <p>Our mission is to provide an engaging, accessible, and interactive environment where learners can practice and master computational thinking. We aim to inspire creativity, logical reasoning, and effective problem decomposition, preparing individuals to excel in various fields that rely on digital problem-solving skills.</p>
        </div>

        <div class="about-card">
            <img src="{% static 'img/star.webp' %}" alt="Vision photo" class="about-img">
            <h2>Our Vision</h2>
            <p>To be a leading platform in fostering critical thinking and problem-solving abilities through computational thinking, preparing learners for the challenges of tomorrow's digital world.</p>
        </div>

        <!-- <div class="about-card">
            <img src="https://via.placeholder.com/150" alt="CEO photo" class="about-img">
            <h2>Our Team</h2>
            <p>Meet our team of passionate professionals who bring creativity, expertise, and dedication to everything we do.</p>
        </div> -->
    </section>

    <section class="team-section">
        <h2>Meet Our Team</h2>
        <div class="team-container">
            <div class="team-member">
                <img src="{% static 'img/foto-dama.png' %}" alt="Member photo" class="team-img">
                <h3>Dama D. Daliman</h3>
                <p>#BegadangDemiPAWM</p>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/100" alt="Member photo" class="team-img">
                <h3>John Doe</h3>
                <p>Project Manager</p>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/100" alt="Member photo" class="team-img">
                <h3>Jane Smith</h3>
                <p>UI/UX Designer</p>
            </div>
        </div>
    </section>

{% endblock %}
{% block custom_scripts %}
<script src="{% static 'js/index-script.js' %}"></script>
{% endblock %}