{% extends "template.html" %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/courses-style.css' %}">
{% endblock %}
{% block content %}
    <ul class="accordion">
        <!-- Icons used in this accordion are obtained from Flaticon.com -->
        <li>
            <input type="radio" name="accordion" id="first-accordion" checked>
            <label for="first-accordion">Basic Concepts of Computational Thinking</label>
            <div class="content">
                <p>
                    Computational thinking is the ability to use
                    logic, reason, and problem-solving skills
                    to design, develop, and test computer programs.
                    It involves breaking down complex problems
                    into smaller, manageable parts, using
                    algorithms to solve them, and creating
                    reliable and efficient software. In this course,
                    you will get hands-on experience with concepts
                    like problem decomposition, pattern recognition, 
                    abstraction, and algorithms.
                </p><br>
                <h3>
                    Click on one of the chapters below to start learning!
                </h3>
                    <div class="card-wrapper">
                        <span id="left-btn" class="material-symbols-rounded">chevron_left</span>
                        <ul class="carousel">
                            <a href="/decom" class="card" draggable="false">
                                <div class="card-image">
                                    <img src="{% static 'img/decomposition-3.svg' %}" alt="decomposition-3" draggable="false">
                                </div>
                                <h2>Chapter 1</h2>
                                <span>Decomposition</span>
                            </a>
                            <a href="/comingsoon" class="card" draggable="false">
                                <div class="card-image">
                                    <img src="{% static 'img/pattern-3.svg' %}" alt="pattern" draggable="false">
                                </div>
                                <h2>Chapter 2</h2>
                                <span>Pattern Recognition</span>
                            </a>
                            <a href="/comingsoon" class="card" draggable="false">
                                <div class="card-image">
                                    <img src="{% static 'img/abstraction-3.svg' %}" alt="abstraction" draggable="false">
                                </div>
                                <h2>Chapter 3</h2>
                                <span>Abstraction</span>
                            </a>
                            <a href="/comingsoon" class="card" draggable="false">
                                <div class="card-image">
                                    <img src="{% static 'img/algorithm.svg' %}" alt="algorithm" draggable="false">
                                </div>
                                <h2>Chapter 4</h2>
                                <span>Algorithm</span>
                            </a>
                        </ul>
                        <span id="right-btn" class="material-symbols-rounded">chevron_right</span>
                    </div>
            </div>
        </li>
        <li>
            <input type="radio" name="accordion" id="empty-accordion">
            <label for="empty-accordion">Coming Soon!</label>
            <div class="content">
                <p></p>
            </div>
        </li>
    </ul>
    {% endblock %}
    {% block custom_scripts %}
    <script src="{% static 'js/index-script.js' %}"></script>
    {% endblock %}